block head
    title NRJohnson | Stories

section(class='row')
    div(class='col-12 text-center page-title')
        h1 My Stories

section(class='row')
    for story in stories
        div(class='col-12 col-lg-6 mb-3')
            div(class='story-card')
                div(class='row h-100 position-relative justify-content-end')
                    figure(class='col-4 m-0 p-0 story-fig')
                        img(src=story.image alt=story.title + ' cover image' class='story-image')
                    div(class='col-8 story-content')
                        h4(class='story-title')= story.title
                        hr(class='m-0 canvas')
                        div(class='story-preview')
                            p= story.preview
                                |  ...
                        div(class='text-center mt-1')
                            a(href=story.url target='_blank' class='btn w-100' data-tip='Read on Vocal') Continue Reading
                                figure(class='text-image ms-1')
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" class="bi bi-box-arrow-up-right" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z"/>
                                        <path fill-rule="evenodd" d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z"/>
                                    </svg>
                                    //- img(src='/images/box-arrow-up-right.svg' alt='Bootstrap Box Arrow Up Right')
    div(class='row')
        div(class='col')
            p All stories are hosted on vocal. Clicking the link will redirect you to the vocal.media website.