meta(content='NRJohnson | ' + story.title property='og:title' class='var-head')
meta(content="About " + story.title + " by NRJohnson." property='og:description' class='var-head')

meta(content=story.image property='og:image' class='var-head')

meta(content="website" property='og:type' class='var-head')
meta(content='/story/' + story._id property='og:url' class='var-head')
meta(name="twitter:card" content="summary" class='var-head')

title= 'NRJohnson | ' + story.title

<hr class='sep'>

section(class='banner-main')
    div(class='col banner-image-cont')
        figure(class='banner-image')
            img(src=story.image)
    div(class='row banner-btn-main')
        div(class='col-6 col-md-3 col-lg-2 p-0 ms-auto')
            a(href=story.url class='btn w-100' target='_blank') View on Vocal
                 figure(class='text-image ms-1')
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" class="bi bi-box-arrow-up-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z"/>
                        <path fill-rule="evenodd" d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z"/>
                    </svg>

section(class='row about-content')
    div(class='col-12 page-title text-center')
        h2#title= story.title
        hr

    div(class='col-12 mt-4')
        h4(class='page-title') About
        | !{story.about}

        h4(class='page-title mt-4') Preview
        blockquote(class='preview-quote') !{story.preview}

        

        

div(class='row mb-2')
    div(class='col-12 col-md-6 mx-auto')
        a(href=story.url target='_blank' class='btn btn-great w-100') Read Full Story on Vocal!
            figure(class='text-image ms-1')
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" class="bi bi-box-arrow-up-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z"/>
                    <path fill-rule="evenodd" d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z"/>
                </svg>